<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <title th:text="#{create.title}"></title>
</head>
<body class="container">
    <h1 th:text="#{create.title}"></h1>
    <form action="#" th:action="@{/show}" th:object="${pizza}" method="post">
        <p>
            <label>
                <span th:text="#{create.field.name}" />
                <input type="text" th:field="*{name}" />
            </label>
        </p>

        <div class="row">
            <ul class="list-group col">
                <li
                        th:each="size, status : ${T(ch.bbw.pizzacreator.Sizes).values()}"
                        class="list-group-item"
                >
                    <input
                            type="radio"
                            th:field="*{size}"
                            th:id="|${size}${status.count}|"
                            th:value="${size}"
                    />
                    <label th:for="|${size}${status.count}|">
                        <span th:text="#{size.__${size}__}" />
                        <span class="badge bg-secondary rounded-pill" th:text="${size.price}" />
                    </label>
                </li>
            </ul>
            <ul class="list-group col">
                <li th:each="topping, status : *{toppings}" class="list-group-item">
                    <input
                            type="checkbox"
                            th:field="*{toppings[__${status.index}__].chosen}"
                            th:value="${topping.chosen}"
                            th:id="|${topping.name}${status.count}|"
                    />
                    <label th:for="|${topping.name}${status.count}|" >
                        <span th:text="#{topping.__${topping.name}__}" />
                        <span class="badge bg-secondary rounded-pill" th:text="${topping.price}" />
                    </label>
                </li>
            </ul>
        </div>

        <p class="mt-2">
            <button class="btn btn-primary" type="submit" th:text="#{form.submit}" />
            <button class="btn btn-warning" type="reset" th:text="#{form.reset}" />
        </p>
    </form>
</body>
</html>